
<app-sidenav
    [navTemplate]="classTree"
    [mainTemplate]="classMainContainer"
>
</app-sidenav>


<ng-template #classTree>
    <tree
        [dataSelector]="this.ontologyClasses$"
        (onNodeSelected)="onNodeSelected($event)"
        (onAddButtonClicked)="addNewClass()"
        (onDeleteClicked)="removeSelectedClass()"
    ></tree>
</ng-template>
<ng-template #classMainContainer>
    <div class="class-container">
        <div>
            <form [formGroup]="classForm">
                <div class="class-container_form">
                    <mat-form-field>
                        <mat-label>{{"className" | i18next}}</mat-label>
                        <input matInput formControlName="uniqueName">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>{{"label" | i18next}}</mat-label>
                        <input matInput formControlName="label">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>{{"comment" | i18next}}</mat-label>
                        <textarea matInput formControlName="comment">
                        </textarea>
                    </mat-form-field>
                </div>

            </form>
        </div>
        <button
            mat-button
            [disabled]="!classForm.valid"
            (click)="onFormSubmit()"
        >
            <ng-container *ngIf="formMode === FormMode.CREATE">{{"crt" | i18next}}</ng-container>
            <ng-container *ngIf="formMode === FormMode.UPDATE">{{"update" | i18next}}</ng-container>
        </button>
    </div>
</ng-template>

