<ng-container>
    <div class="projects__container">
        <button
            class="projects__button"
            mat-stroked-button
            color="primary"
            (click)="openDialog(createProjectPopup)"
        >{{"crtNewOntology" | i18next}}
        </button>
        <div class="projects__table" id="projects_table">
            <projects-table></projects-table>
        </div>
    </div>
</ng-container>

<ng-template #createProjectPopup>
    <h1 mat-dialog-title>{{"crtNewOntology" | i18next}}</h1>
    <div mat-dialog-content class="projects__popup">
        <form [formGroup]="projectForm" class="projects__popup__form">
            <mat-form-field>
                <mat-label>{{"ontologyName" | i18next}}</mat-label>
                <input formControlName="name" matInput placeholder="{{'enterOntName' | i18next}}">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{"desc" | i18next}}</mat-label>
                <textarea formControlName="description" matInput placeholder="{{'enterDesc' | i18next}}"></textarea>
            </mat-form-field>
            <mat-form-field>
                <ngx-mat-file-input
                    formControlName="file"
                    placeholder="{{'file' | i18next}}"
                    [color]="'primary'
                ">
                </ngx-mat-file-input>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button
            mat-button
            mat-dialog-close
            [disabled]="!projectForm.valid"
            (click)="onCreateForm()"
        >{{"crt" | i18next}}
        </button>
    </div>
</ng-template>
