<div class="projects-edit-toolbar">
    <mat-tab-group class="projects-edit-toolbar__group" mat-stretch-tabs="false" mat-align-tabs="start"
    (selectedTabChange)="changeTab()">
        <mat-tab class="projects-edit-toolbar__group">
            <ng-template mat-tab-label>
                <mat-label>{{'classes' | i18next}}</mat-label>
                <mat-icon>menu</mat-icon>
            </ng-template>
            <ng-container *ngTemplateOutlet="classesTree"></ng-container>
        </mat-tab>
        <mat-tab class="projects-edit-toolbar__group">
            <ng-template mat-tab-label>
                <mat-label>{{"prop" | i18next}}</mat-label>
                <mat-icon>settings</mat-icon>
            </ng-template>
            <ng-container *ngTemplateOutlet="properties"></ng-container>
        </mat-tab>
        <mat-tab class="projects-edit-toolbar__group">
            <ng-template mat-tab-label>
                <mat-label>{{"individual" | i18next}}</mat-label>
                <mat-icon>how_to_reg</mat-icon>
            </ng-template>
            <ng-container *ngTemplateOutlet="individuals"></ng-container>
        </mat-tab>
    </mat-tab-group>

    <ng-template #classesTree>
        <classes></classes>
    </ng-template>

</div>

<ng-template #properties>
    <app-properties></app-properties>
</ng-template>

<ng-template #individuals>
    <app-individuals></app-individuals>
</ng-template>

